.nav {
    grid-area: n;
    background-color: aqua;
    padding: 20px;
}
.item {
    color: white;
    text-decoration: none;
}
/*.active {
    color: gold;
}*/
.item .active{
    color: gold;
    text-decoration: none;
}